
/* ======================== DESKTOP ====================== */

/* ======================== COMMON */

@font-face {
    /*font-family: "OpenSans bold";*/
    src: url(../fonts/OpenSans-Bold.ttf);
    font-family: "OpenSans";
    font-weight: bold;
    font-style: normal;
}
@font-face {
    /*font-family: "OpenSans regular";*/
    src: url(../fonts/OpenSans-Regular.ttf);
    font-family: "OpenSans";
    font-weight: regular;
    font-style: normal;
}

body {
    /*font-family: "OpenSans bold", sans-serif;*/
    margin: 0;
    font-family: "OpenSans";
    font-weight: regular;

    overflow-x: visible;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000000;
}

p {
    margin: 0;
}

h2 {
    /*font-family: "OpenSans bold", sans-serif;*/
    font-family: "OpenSans";
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.5;
    color: #0f0d0e;
    text-transform: uppercase;
    text-align: center;

    margin: 0;
}

h2::after {
    content: "";
    display: block;
    width: 3.6em;
    color: #e1d9bd;
    border-bottom: 3px solid #e1d9bd;
    margin: 0.5em auto 1.45em;
}

h3 {
    /*font-family: "OpenSans bold", sans-serif;*/
    font-family: "OpenSans";
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 2;
    color: #0f0d0e;
    text-transform: uppercase;
    text-align: center;

    margin: 0;
}

h3::after {
    content: "";
    display: block;
  
    width: 4.7em;
    color: #e1d9bd;
    border-bottom: 3px solid #e1d9bd;
    margin: 0.42em auto 1.36em;
}

h4 {
    /*font-family: "OpenSans bold", sans-serif;*/
    font-family: "OpenSans";
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
    line-height: 1.2;
    margin: 0;
}

h4:hover {
    color: #b59f5b;
}



/* =============== POPUP */

.popup_hidden {
    display: none;
}

.popup_hidden:checked + .popup {
    display: flex;
}

.popup {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 3;
}

.background_hidden {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    position: absolute;
    z-index: 4;
}

.popup_content {
    background-color: #fff;
    box-sizing: border-box;
    max-width: 390px;
    padding: 30px;
    margin-left: 15px;
    margin-right: 15px;

    position: relative;
    z-index: 5;
}

.popup_close {
    background-image: url(../svg/form-x.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
  
    position: absolute;
    color: #fff;
    width: 20px;
    height: 20px;
    right: 0;
    top: -30px;
  
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.batton_hidden {
    min-width: 100px;
    height: 20px;
    color: #fff;
    background-color: gray;
    cursor: pointer;
}

.hint {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.7em;
}

.select {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 3.7em;
  
    padding-left: 19px;
    padding-right: 25px;
    margin: 0;
  
    border: none;
    background-color: #f4f7f6;
  
    font-size: 0.8rem;
    color: #000000;
  
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select:focus {
    outline: 1px solid #b59f5b;
}

/*.form-group:not(:first-child) {
    margin-top: 1.6rem;
}*/

.form-group {
    margin-top: 1.6rem;
}

.form-group-first {
    margin-top: 0;
}

.frequency_select {
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-size: 8px;
    background-position: right 5px center;
}

.radio-group {
    display: inline-block;
    font-size: 0.8rem;
    color: #000000;
}

.radio-group:nth-of-type(n+2) {
    margin-left: 1rem;
}

.radio {
    display: none;
}

.radio:checked + .radio-group-text::before {
    background-image: url(../svg/form-circle.svg);
}

.radio-group-text::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
  
    width: 15px;
    height: 15px;
  
    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px;
  
    margin-right: 0.3rem;
}

.categories_text {
    width: 100%;
    height: 131px;
    padding-top: 20px;
    resize: none;
}

::placeholder {
    font-size: 0.8rem;
    color: #000000;
}

.popup-button {
    /*font-family: "OpenSans bold", sans-serif;*/
    width: 100%;
    height: 3.7em;

    background-color: #b59f5b;
    border: 1px solid;

    font-family: "OpenSans";
    font-weight: bold;
    font-size: 0.88rem;
    text-transform: uppercase;
    color: #ffffff;

    cursor: pointer;
}

.popup-button:hover {
    background-color: #323232;
}

/* ============================ HEADER */

.header {
    background-color: #000000;
    box-sizing: border-box;
    padding: 30px 0;
    min-height: 450px;

    background-image: url(../images/banner-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.header::before {
    content: "";
    display: block;
    background-color: #000000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.6;

    position: absolute;
    z-index: 1; 
}

.wrapper {
    position: relative;
    z-index: 1; 
}

.header-wrapper {
    width: 100vw;
    padding: 0 15px;
    margin: auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_logo {
    display: block;
}

.menu_list {
    display: flex;
}

.menu__button-label,
.menu__button  {
    display: none;
}

/*.menu_item:not(:first-child) {
    margin-left: 35px;
}*/

.menu_item {
    margin-left: 2.2rem;
}

.menu_item-first {
    margin-left: 0;
}

.menu_link {
    color: white;
    font-size: 13px;
    text-transform: uppercase;
}

.menu_link:hover {
    text-decoration: underline;
}

.header_title {
    /*font-family: "OpenSans bold", sans-serif;*/
    font-family: "OpenSans";
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 1.7;
    text-transform: uppercase;
    text-align: center;

    max-width: 800px;
    margin: auto;
    padding: 120px 0;
    color: #fff;
}

 /* ============================ CONTAINER */

.container {
    background-color: #ffffff;
    margin-top: 4rem;
    color: #000000;
}

.container-wrapper {
    width: 100vw;
    padding: 0 15px;
    margin: auto;
    display: flex;
    justify-content: center; 
}

/* ============================ TRENDS */

.widget {
    margin-bottom: 4rem;
    width: 100vw;
}

.trends_block {
    display: flex;
}

/*.trend:not(:first-child) {
    margin-left: 0.3%;
}*/

.trend {
    display: flex;
    align-items: flex-end;
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
    min-height: 320px;
    width: 25%;
    padding: 0 20px 16px;

    position: relative;
    margin-left: 0.3%;
}

.trend::before {
    content: "";
    display: block;

    background-color: #000000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;

    position: absolute;
    z-index: 1;
}

.trend_info {  
    padding: 33px;
    border: 3px solid #b59f5b;

    position: relative;
    z-index: 1;
}

.trend_title {
    color: #ffffff;
}

.trend_garden {
    background-image: url(../images/trend1.jpg);
    margin-left: 0;
}

.trend_cheese {
    background-image: url(../images/trend2.jpg);
}

.trend_hike {
    background-image: url(../images/trend3.jpg);
}

.trend_lemon {
    background-image: url(../images/trend4.jpg);
 
}

/* ============================ MAIN */

.news_block {
    margin-right: 7.88rem;
}

/*.news:not(:first-child) {
    margin-top: 3.75rem;
}*/

.news {
    display: flex;
    margin-top: 3.75rem;
}

.news-first {
    margin-top: 0;
}

.news_preview {
    margin: 0;
    display: block;
}

.news_info {
    padding-left: 30px;
}

.category-list {
    /*font-family: "OpenSans bold", sans-serif;*/

    display: flex;
    font-family: "OpenSans";
    font-weight: bold;
    padding-bottom: 15px;
}

.category-link {
    padding-right: 20px;
    font-size: 0.9rem;
    line-height: 1.6;
    color: #b59f5b;
    text-transform: uppercase;
}

.category-link:hover {
    text-decoration: underline;
}

.publication {
    font-size: 0.7rem;
    line-height: 3.3;

    margin-top: 0.93rem;
    margin-bottom: 1.8rem;
}   

.publication_date {
    color: #888888;
    padding-right: 13px;
}

.publication_author {
    /*font-family: "OpenSans bold", sans-serif;*/
    font-family: "OpenSans";
    font-weight: bold;
}

.news_description {
    font-size: 0.9rem;
    line-height: 1.5;
}

/* ============================ ASIDE */

.sidebar {
    width: 272px;
}

/*.post:not(:first-child) {
    margin-top: 1.4rem;
}*/

.post {
    display: flex;
    margin-top: 1.4rem;
}

.post-first {
    margin-top: 0;
}

.post_preview {
    margin: 0;
    display: block;
}

.post_info {
    padding-left: 19px;
}

.post_date {
    display: block;
    font-size: 0.75rem;
    margin-bottom: 0.6rem;
    opacity: 0.54;
}

.post_title {
    font-size: 0.8rem;
}

.search {
    margin-top: 3.7rem;
    margin-bottom: 1.94rem;

    display: flex;
    flex-direction: row;
}

.field_search {
    min-width: 222px;
    height: 3.7em;
    background-color: #f4f7f6;
    padding: 18px 18px 17px;
    margin: 0;
    border: 0;

    font-size: 0.8rem;
    line-height: 3;
 
}

.field_search:focus {
    outline: 1px solid #b59f5b;
}

.button_search {
    width: 3.7em;
    height: 3.7em;
    background-color: #b59f5b;
    border: 0;
    padding: 0;
    cursor: pointer;

    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1.3em;
}

.button_search:hover {
    background-color: #323232;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.mailing-list {
    margin-bottom: 1.88rem;
}

.mailing-list_field {
    width: 100%;
    height: 3.7em;
    background-color: #f4f7f6;
    padding: 18px 18px 17px;
    margin: 0;
    border: 0;

    font-size: 0.8rem;
    line-height: 3;
}

.mailing-list_field:focus {
    outline: 1px solid #b59f5b;
}

.mailing-list_button {
    /*font-family: "OpenSans bold", sans-serif;*/
    width: 100%;
    height: 3.7em;
    margin-top: 1.3em;

    background-color: #b59f5b;
    border: 0;

    font-family: "OpenSans";
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #ffffff;

    cursor: pointer;
} 

.mailing-list_button:hover {
    background-color: #323232;
}

.tags {
    width: 100%;
    margin-bottom: 1.8rem;
}

.tags_list {
    /*font-family: "OpenSans bold", sans-serif;*/
    display: flex;
    flex-wrap: wrap;

    font-family: "OpenSans";
    font-weight: bold;
    font-size: 0.75rem;
    text-transform: uppercase;
    text-align: center;
}

.tags_item {
    margin-right: 0.4em;
    margin-bottom: 0.4em;
    background-color: rgba(244, 243, 241, 0);
    border: 3px solid #eeeeee;
}

.tags_link {
    display: block;
    padding: 8px 13px;
}

.tags_item:hover {
    border: 3px solid #b59f5b;
}

.categories {
    width: 100%;
}

.categories_list {
    /*font-family: "OpenSans bold", sans-serif;*/
    font-family: "OpenSans";
    font-weight: bold;
}

.categories_item {
    border-bottom: 1px solid #eeeeee;
}

.categories_link {
    font-size: 0.9rem;
    line-height: 2.5; 
}

.categories_link:hover {
    color: #b59f5b;
}

.superscript {
    font-size: 0.75rem;
    line-height: 3;

    vertical-align: super;
    color: #b59f5b;
}

/* ============================ SHOP */

.shop {
    margin-top: 4rem;
}

.shop-wrapper {
    width: 100vw;
    padding: 0 15px;
    margin: auto;
}

.products {
    display: flex;
    justify-content: center;
}

/*.product:not(:first-child) {
    margin-left: 66px;
}*/

.product {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-left: 4.1rem;
}

.product-first {
    margin-left: 0;
}

.product_preview {
    background-color: #eff6f1;
    margin-right: auto;
    margin-left: auto;
}

.product_img {
    width: 100%;
    height: 100%;
}

.product_body {
    padding: 20px;

    background-color: rgba(0,0,0,0);
    border: 3px solid #b59f5b;
    margin-top: -29px;

    flex-grow: 1;
}

.product_content {
    padding-top: 29px;
}

.product_title {
    color: #0f0d0e;
}

.product_description {
    font-size: 0.9rem;
    color: #0f0d0e;

    padding-top: 9px;
    padding-bottom: 24px;
}

.description_link {
    color: #b59f5b;
}

.product_footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

.product_price {
    /*font-family: "OpenSans bold", sans-serif;*/
    display: flex;
    font-family: "OpenSans";
    font-weight: bold;
    font-size: 1.25rem;
}

.product_rub {
    margin-left: 0.25em;
}

.product_price_old {
    font-size: 0.8rem;
    line-height: 1.7;
    text-decoration: line-through;
}

.product_button {
    /*font-family: "OpenSans bold", sans-serif;*/
    width: 10em;
    height: 3.42em;
    font-size: 0.8rem;
    
    background-color: #b59f5b;
    border: 0;

    font-family: "OpenSans";
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;

    cursor: pointer;
}

.product_button:hover {
    background-color: #323232;
}

/* ============================ FOOTER */

.footer {
    margin-top: 3.75rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.footer-wrapper {
    width: 100vw;
    padding: 0 15px;
    margin: auto;
}

.social {
    background-color: #f4f7f6;
    margin-bottom: 4.63rem;

    padding: 30px 0;
}

.social_list {
    display: flex;
    justify-content: center;
}

/*.social_item:not(:last-child) {
    margin-right: 1.9rem;
}*/

.social_item {
    margin-left: 1.9rem;
}

.social_item-first {
    margin-left: 0;
}

.social_icon {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.social_icon_dribbble {
    background-image: url(../svg/001-dribbble.svg);
}

.social_icon_pinterest {
    background-image: url(../svg/002-pinterest.svg);
}

.social_icon_tumblr {
    background-image: url(../svg/003-tumblr.svg);
}

.copyrights {
    /*font-family: "OpenSans bold", sans-serif;*/
    font-weight: bold;
    font-size: 0.75rem;
    color: #999999;
}



/* ================================ TABLET ============================ */

@media (min-width: 768px) and (max-width: 1199px) {

    /* ======================== COMMON */

    h2 {
      font-size: 1.125rem;
      line-height: 1.6;
    }

    h4 {
      font-size: 1.06rem;
      line-height: 1.3;
    }

    h4:hover {
      color: #b59f5b;
    }

    /* ============================ HEADER */

    .header {
        padding: 43px 0;
        background-image: url(../images/banner-bg-tablet.jpg);
        min-height: 392px;
    }

    .header-wrapper {
        padding: 0 35px;
    }

    .menu_logo {
        width: 9.9rem;
    }

    .header_menu {
        flex-direction: row-reverse;
        align-items: center;
    }

    .menu__button {
        display: block;
        width: 1.5em;
        height: 1.25em;
        border: none;
        padding: 0;
        background-color: transparent;
        font-size: 1rem;
        position: relative;
        text-indent: -9999px;
        cursor: pointer;
    }

    .menu__button:before, 
    .menu__button:after {
        content: "";
        width: 100%;
        height: 15%;
        border-radius: 5px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
    }

    .menu__button:after {
        bottom: 0;
    }

    .menu__button:before {
        top: 0;
    }

    .menu__button-label {
        display: block;
        width: 100%;
        height: 15%;
        margin-top: -0.1em;
        border-radius: 5px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        top: 50%;
    }

    .menu_list {
        display: none;
    }

    .header_title {
        font-size: 2.5rem;
        line-height: 1.4;
        max-width: 16.3em;
        padding: 104px 0;
    }

    /* ============================ CONTAINER */

    .container {
        margin-top: 2.9rem;
    }

    .container-wrapper {
        padding: 0 35px;
    }

    /* ============================ TRENDS */

    .widget {
        margin-bottom: 3.1rem;
    }

    .trends_block {
        display: flex;
        flex-wrap: wrap;
    }

    /*.trend:not(:first-child) {
        margin-left: 0;
    }*/

    /*.trend:nth-child(odd) {
        margin-right: 0.25rem;
    }*/

    .trend {
        min-height: 247px;
        width: 49%;
        padding: 0 19px 15px;
        margin-left: 0;
    }

    .trend-odd {
        margin-right: 0.25rem;
    }

    .trend:nth-child(n+3) {
        margin-top: 0.25rem;
    }

    .trend_info {  
        padding: 31px;
    }

    /* ============================ MAIN */

    .news_block {
        margin-right: 2.2rem;
    }

    /*.news:not(:first-child) {
        margin-top: 2.6rem;
    }*/

    /*.news:not(:last-child) {
        border-bottom: 3px solid #eeeeee;
    }*/

    .news {
        flex-direction: column;
        padding-bottom: 19px;
        margin-top: 2.6rem;
        border-bottom: 3px solid #eeeeee;
    }

    .news-first {
        margin-top: 0;
    }

    .news-last {
        border-bottom: none;
    }

    .news_preview {
        max-width: 391px;
    }

    .news_image {
        width: 100%;
    }

    .news_info {
        margin-top: 0.5rem;
        padding-left: 0;
    }

    .category-list {
        padding-bottom: 17px;
    }

    .publication {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

    /* ============================ ASIDE */

    .sidebar {
        width: 270px;
    }

    .post_date {
        margin-bottom: 0.3em;
    }

    .search {
        margin-bottom: 3.7rem;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .mailing-list {
        margin-bottom: 3.8rem;
    }

    /* ============================ SHOP */

    .shop-wrapper {
        padding: 0 35px;
    }

    .products {
        flex-wrap: wrap;
    }

    /*.product:not(:first-child) {
        margin-left: 0;
    }*/

    /*.product:nth-child(odd) {
        margin-right: 1.4rem;
    }*/

    .product {
        width: 48%;
        margin-left: 0;
    }

    .product-odd {
        margin-right: 1.4rem;
    }

    .product:nth-child(n+3) {
        margin-top: 1.75rem;
    }

    .product_description {
        padding-top: 8px;
    }

    /* ============================ FOOTER */

    .footer {
        margin-top: 3.12rem;
        margin-bottom: 2.3rem;
    }

    .footer-wrapper {
        padding: 0 35px;
    }

    .social {
        margin-bottom: 3.12rem;
    }

    .social_icon {
        width: 1.25rem;
        height: 1.25rem;
    }


}



/* =============================== MOBILE ============================= */

@media (max-width: 767px) {

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 1rem;
        line-height: 1.8;
    }

    h4 {
        font-size: 1rem;
        line-height: 1.25;
    }

/* ============================ HEADER */

    .header {
        min-height: 640px;
        background-image: url(../images/banner-mobile.jpg);
    }

    .menu {
        display: flex;
        flex-direction: column-reverse;
    }

    .menu_logo {
        display: block;
        width: 269px;
        margin-top: 10.8rem;
    }

    .header_menu {
        flex-direction: row-reverse;

        margin-top: 0;
        margin-left: auto;
    }

    .menu__button {
        display: block;
        width: 1.5em;
        height: 1.25em;
        border: none;
        padding: 0;
        background-color: transparent;
        font-size: 1rem;
        position: relative;
        text-indent: -9999px;
        cursor: pointer;
    }

    .menu__button:before, 
    .menu__button:after {
        content: "";
        width: 100%;
        height: 15%;
        border-radius: 5px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
    }

    .menu__button:after {
        bottom: 0;
    }

    .menu__button:before {
        top: 0;
    }

    .menu__button-label {
        display: block;
        width: 100%;
        height: 15%;
        margin-top: -0.1em;
        border-radius: 5px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        top: 50%;
    }

    .menu_list {
        display: none;
    }

    .header_title {
        font-size: 1.63rem;
        line-height: 1.4;

        max-width: 388px;
        padding: 45px 0;
    }

    /* ============================ CONTAINER */

    .container {
        margin-top: 2.5rem;
    }

    .container-wrapper {
        display: flex;
        flex-direction: column;
    }

    /* ============================ TRENDS */

    .widget {
        margin-bottom: 2.75rem;
    }

    .trends_block {
        display: flex;
        flex-direction: column;
    }

    /*.trend:not(:first-child) {
        margin-left: 0;
    }*/

    /*.trend:nth-child(odd) {
        margin-right: 0;
    }*/

    .trend {
        min-height: 232px;
        width: 100%;
        padding: 0 auto 15px;
        margin-top: 3px;
        margin-left: 0;
    }

    .trend-odd {
        margin-right: 0;
    }

    .trend_info { 
        padding: 15px;
    }

    .trend:nth-child(n+3) {
        margin-top: 3px;
    }

    /* ============================ MAIN */

    .news_block {
        margin-right: 0;
    }

    /*.news:not(:first-child) {
        margin-top: 2.2rem;
    }*/

    /*.news:not(:last-child) {
        border-bottom: 3px solid #eeeeee;
    }*/

    .news {
        display: flex;
        flex-direction: column;
        padding-bottom: 22px;
        margin-top: 2.2rem;
        border-bottom: 3px solid #eeeeee;
    }

    .news-first {
        margin-top: 0;
    }

    .news-last {
        border-bottom: 3px solid #eeeeee;
        margin-bottom: 2.75rem;
    }

    .news_preview {
        width: 100%;
    }

    .news_image {
        width: 100%;
    }

    .news_info {
        margin-top: 0.5rem;
        padding-left: 0;
    }

    .category-list {
        padding-bottom: 16px;
    }

    .publication {
        font-size: 0.7rem;
        line-height: 3.3;

        margin-top: 1.4rem;
        margin-bottom: 1.25rem;
    }   

/* ============================ ASIDE */

    .sidebar {
        width: 100%;
    }

    .search {
        margin-top: 3.7rem;
        margin-bottom: 2.75rem;
    }

    .field_search {
        width: 100%;
    }

    .search_label {
        width: calc(100% - 48px);
    }

    .mailing-list {
        margin-bottom: 2.75rem;
    }

    .tags {
        margin-bottom: 2.75rem;
    }

    /* ============================ SHOP */

    .shop {
        margin-top: 2.75rem;
    }

    .products {
        display: flex;
        flex-direction: column;
    }

    /*.product:not(:first-child) {
        margin-left: 0;
    }*/

    /*.product:not(:first-child) {
        margin-top: 1.67rem;
    }*/

    .product {
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        margin-top: 1.67rem;
    }

    .product-first {
        margin-top: 0;
    }

    .product_body {
        padding: 18px;
    }

    .product_content {
        padding-top: 25px;
    }

    .product_description {
        padding-top: 8px;
        padding-bottom: 30px;
    }

    /* ============================ FOOTER */

    .footer {
        margin-top: 2.69rem;
        margin-bottom: 2.94rem;
    }

    .social {
        margin-bottom: 3.12rem;
    }

    .social_list {
        display: flex;
        justify-content: center;
    }

    .social_icon {
        width: 1.25rem;
        height: 1.25rem;
    }

}





